@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400");

*,*::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ================= VARIÁVEIS ================ */
:root {
  --primary-color: hsl(9, 94%, 61%);
  --primary-color-alt: hsl(28, 72%, 83%);
  --second-color: #3e537c;
  --second-color-alt: hsla(220, 33%, 36%, 65%);
  --third-color: hsl(220, 36%, 28%);
  --white-color: #fbfbfb;
  --white-color-alt: hsl(12, 14%, 93%);
  --dark-color: hsl(300, 100%, 0%);
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  background-color: #000000;
}

header { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*background-color: var(--dark-color);*/
  margin-top: 15px;
  margin-bottom: -10px;
  width: 100%;
  max-width: 1300px;
}

.company-logo {
  font-size: 2.5rem;
  background: -webkit-linear-gradient( 120deg, var(--primary-color-alt), var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 4rem;

}

.nav-items {
    display: flex;
    
}
.nav-item {
  margin: 0 2rem;
}
.nav-link {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: -webkit-linear-gradient(var(--primary-color-alt),var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-link::before {
  content: "";
  background: linear-gradient(var(--primary-color), var(--primary-color-alt));
  width: 100%;
  height: 0.05rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 150ms;
}
.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.sobre{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.container-sobre{
  margin-top: 10rem;
  line-height: 2.8em;
  font-size: 1.4rem;
  background: -webkit-linear-gradient(120deg,var(--primary-color-alt),var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  
}

.container-sobre h1{
  font-size: 3rem;
  width: 100%;
}

.container-sobre p{
  font-size: 1.5rem;
  width: 100%;
}

.imagem-about{
  width: 35%;
  border-radius: 10px;
  margin-top: 4rem;
}

.img1{
  width: 100%;
  border-radius: 20px;
  box-shadow:  0px 0px 100px 50px #202020;
    
}

.sobre1{
  width: 100%;
}

.titulo-text{
  font-size: 1.2rem;
  line-height: 2rem;
  width: 100%;
  margin-bottom: 4rem;
  background: -webkit-linear-gradient(120deg,var(--primary-color-alt),var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titulo-text h1{
  margin-left: 5rem;
}

.titulo-text p{
  margin-left: 5rem;
}

hr{
  width: 87%;
}

abbr{
  text-decoration: none;
  color: white;
  
}

.linha2{
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.container-texto{
  width: 87%;
  margin: auto;
  columns: 2;
  
}

.texto-sobre{
  width: 100%;
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.5em;
  padding: .4rem;
  color: rgb(177, 173, 173);
}

strong{
  background: -webkit-linear-gradient(120deg,var(--primary-color-alt),var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.art-filos{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  color: rgb(197, 197, 197);
}

aside{
  display: flex;
  align-items: center;
  width: 72%;
  height: 61vh;
  justify-content: center;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 1px 0px 30px 10px #3e537c;
  border-radius: 10px;
}


.aside-text{
  font-size: 1rem;
  width: 52.5%;
  height: 53.1vh;
  background-color: rgb(39, 39, 39);
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
  padding-left: 20px;
}

.container-aside{
  width: 42%;
  display: flex;
}

.imgfil{
  width: 100%;
  height: 53vh;
  border-radius: 10px 0px 0px 10px;
}

.h2f{
  text-align: center;
  margin-bottom: 1rem;
  background: -webkit-linear-gradient(120deg,var(--primary-color-alt),var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.filos{
  font-size: 1rem;
  width: 97%;
  font-weight: normal;
  margin: auto;
  line-height: 1.3em;
}

.footer{
  margin-top: 2rem;
  text-align: center;
  color: white;
  background-color:#000000;
  padding: 1.2rem;
  background: -webkit-linear-gradient(120deg,var(--primary-color-alt),var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: .6rem;
}

@media (max-width: 1220px) {
  html{
    font-size: 90%;
  }

  .sobre{
    margin-top: 30px;
    margin-bottom: -30px;
  }
}

@media (max-width: 1034px) {
  html{
    font-size: 80%;
  }

  .sobre{
    height: 70vh;
    width: 100%;
  }

  .aside-text{
    font-size: 1.2rem;
  }

  .filos{
    font-size: 1.2rem;
  }

  .footer{
    margin-top: 2rem;
    text-align: center;
    color: white;
    background-color:#000000;
    padding: 1.2rem;
    background: -webkit-linear-gradient(120deg,var(--primary-color-alt),var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
  }
}

@media (max-width: 950px) {

  header{
    width: 100%;
    justify-content: space-around;
  }

  .imagem-about{
    margin-bottom: 25px;
  }

  .sobre{
    flex-direction: column;
    align-items: center;
  }

  .texto-sobre{
    font-size: 1.3rem;
  }

  .container-sobre{
    text-align: center;
    margin: auto;
  }

  .container-sobre h1{
    text-align: center;
    width: 100%;
  }

  .titulo-text h1{
    display: none;
  }

  .titulo-text p{
    width: 100%;
    margin-top: 100px;
    margin-left: 0;
    font-size: 2.5rem;
    text-align: center;

  }

  .imagem-about{
    width: 40%;
  }

  aside{
    width: 80%;
  }
}

@media (max-width: 912px) {
  .filos{
    font-size: 1.1rem ;
  }

}

@media (max-width: 840px) {
  

  .imagem-about{
    width: 45%;
    margin-bottom: 4rem;
  }

  .filos{
    font-size: 1.2rem ;
  }

  aside{
    width: 90%;
  }
}

@media (max-width: 807px) {
  .filos{
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  
  aside{
    display: block;
    width: 80%;
    height: 103.5vh;
  }
  .container-aside{
    width: 100%;
  }

  .aside-text{
    width: 100%;
    height: 50vh;
    border-radius: 0px 0px 10px 10px;
  }
  
  .imgfil{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  
  .h2f{
    text-align: center;
    margin-bottom: 1rem;
    background: -webkit-linear-gradient(120deg,var(--primary-color-alt),var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.2rem;
  }
  
  .filos{
    text-align: justify;
    font-size: 1.3rem;
    width: 97%;
    font-weight: normal;
    margin: auto;
    line-height: 1.3em;
  }
}

@media (max-width: 700px) {

  html{
    font-size: 70%;
  }

    .imagem-about{
      width: 50%;
      margin-bottom: 4rem;
    }
}

@media (max-width: 600px){

  .h2f{
    font-size: 1.8rem;
  }

  .imagem-about{
    width: 70%;
    margin-bottom: 4rem;
  }
  
}

@media (max-width: 540px) {

  .company-logo{
    display: none;
  }
  header{
    font-size: 2rem;
  }

  .container-texto{
    columns: auto;
  }

  .aside-text{
    height: 63vh;
  }

  .imgfil{
    height: 40vh;
  }


  .texto-sobre{
    font-size: 1.2rem;
  }

  .filos{
    font-size: 1.4rem;
  }

}

@media (max-width: 472px) {


  .aside-text{
    height: 63vh;
  }

  .imagem-about{
    width: 80%;
  }

  .container-sobre p{
    font-size: 1.2rem;
    margin-bottom: -15px;
  }

  .titulo-text p{
    font-size: 2rem;
  }

  .filos{
    font-size: 1.4rem;
  }

  .h2f{
    font-size: 1.5rem;
  }
}

@media (max-width: 428px) {
  .filos{
    font-size: 1.3rem;
  }

  .container-sobre{
    margin-bottom: -30px;
  }

  header{
    margin-bottom: -60px;
  }

  .container-sobre{
    margin-top: -40px;
    margin-bottom: -60px;
  }
}

@media (max-width: 380px) {

  header{
    margin-bottom: -110px;
  }

  .container-sobre{
    margin-top: -140px;
    margin-bottom: -100px;
  }

}

@media (max-width: 374px) {
  
  .container-sobre P, h1{
    font-size: 1.1rem;
  }

  header{
    margin-bottom: -80px;
  }

  .container-sobre{
    margin-top: -90px;
    margin-bottom: -70px;
  }

  .imgfil{
    height: 30vh;
  }

  .aside-text{
    height: 73vh;
  }
  

  .filos{
    font-size: 1.3rem;
  }

  .titulo-text p{
    font-size: 1.5rem;
    
  }

}

@media (max-width: 331px) {
  header{
    margin-bottom: -140px;
  }

  .container-sobre{
    margin-top: -220px;
    margin-bottom: -140px;
  }

  .filos{
    font-size: 1.2rem;
  }

}
