@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400");

*,*::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ================= VARIÁVEIS ================ */
:root {
  --primary-color: hsl(9, 94%, 61%);
  --primary-color-alt: hsl(28, 72%, 83%);
  --second-color: #3e537c;
  --second-color-alt: hsla(220, 33%, 36%, 65%);
  --third-color: hsl(220, 36%, 28%);
  --white-color: #fbfbfb;
  --white-color-alt: hsl(12, 14%, 93%);
  --dark-color: hsl(300, 100%, 0%);
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  background-color: black;
  
}

header { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-color);
  padding: 1rem 2rem;
  width: 100%;
}

.company-logo {
  font-size: 2.5rem;
  background: -webkit-linear-gradient( 120deg, var(--primary-color-alt), var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 1.5rem;

}

.nav-items {
    display: flex;
    
}
.nav-item {
  margin: 0 2rem;
}
.nav-link {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: -webkit-linear-gradient(var(--primary-color-alt),var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-link::before {
  content: "";
  background: linear-gradient(var(--primary-color), var(--primary-color-alt));
  width: 100%;
  height: 0.05rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 150ms;
}
.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.company-home{
  background: -webkit-linear-gradient(120deg,var(--primary-color-alt),var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 3px;
}

i{
  color: white;
}

a:hover{
  border: 1px solid rgb(73, 73, 73);
}


.nocc{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.text{
    margin-top: 7.3rem;
    background: -webkit-linear-gradient(120deg,var(--primary-color-alt),var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4em;
}

img{
    height: 30vh;
}

.imagem{
    margin-top: 3rem;
}

.sec1{
    width: 100%;
    height: 30vh;
  }

  .titulo-text{
    width: 75%;
    margin-left: 10rem;
  }
  
  .titulo-text h1{
    font-size: 1.5rem;
    line-height: 1.7em;
    width: 100%;
    margin-bottom: 1rem;
    background: -webkit-linear-gradient(120deg,var(--primary-color-alt),var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .titulo-text p{
    font-size: 1.2rem;
    color: rgb(177, 177, 177);
    width: 100%;
  }
  
  hr{
    width: 75%;
  }
  
  abbr{
    text-decoration: none;
    color: white;
    
  }
  
  .linha2{
    margin-top: 5rem;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
  }

  .sec2{
    min-height: 70vh;
  }

  aside{
    width: 76%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    background-color: rgb(20, 20, 20);
    border-radius: 15px;
    box-shadow: 1px 1px 40px 5px rgb(69, 69, 69);
  }

  .atend{
    margin-top: .5rem;
  }

  .atend h2{
    background: -webkit-linear-gradient(120deg,var(--primary-color-alt),var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1em;
    margin-bottom: 1rem;
  }

  .subt{
    color: rgb(177, 177, 177);
    font-size: .8em;
    font-weight: bolder;
  }

  .contate{
    height: 40%;
    margin-left: px;
    margin-top: 1.5rem;
  }

  .hr{
    margin-top: 1rem;
    color: rgb(177, 177, 177);
  }


  table{
    border-collapse: collapse;
    width: 100%;
  }

  tr, th, td{
    border: 2px solid rgb(93, 93, 93);
    width: 10em;
    padding: .4rem;
    color: rgb(238, 238, 238);
  }

  th{
    background: -webkit-linear-gradient(120deg,var(--primary-color-alt),var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 10px 0px 0px 0px;
  }

  .final{
    margin-top: 2rem;
    width: 75%;
    margin-left: 10rem;
  }

  .finalp{
    font-size: 1.2rem;
    color: rgb(177, 177, 177);
    margin-bottom: 5px;
  }

  .obgd{
    line-height: 30px;
    color: rgb(177, 177, 177);
  }

  strong{
    background: -webkit-linear-gradient(120deg,var(--primary-color-alt),var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .linha3{
    margin-top: 2rem;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
   }

   .footer{
    margin-top: 10px;
    text-align: center;
    color: white;
    background-color:#000000;
    padding: 10px;
    background: -webkit-linear-gradient(120deg,var(--primary-color-alt),var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10px;
  }

  @media (max-width: 1188px) {
    .titulo-text, .final{
      margin-left: 9rem;
    }
  }

  @media (max-width: 1024px) {

    html{
      font-size: 95%;
    }

    .text{
      font-size: 3.5rem;
    }
    .titulo-text, .final{
      margin-left: 8rem;
    }
    

  }

  @media (max-width: 950px ) {
      html{
        font-size: 90%;
      }

      aside{
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .atend{
        width: 100%;
        text-align: center;
      }
      .hr{
        margin-bottom: 1.5rem;
      }
      .contate{
        display: none;
      }

      .email{
        width: 100%;
      }

  }

  @media (max-width: 850px) {
    html{
      font-size: 85%;
    }
    .text{
      font-size: 3rem;
    }
    .final{
      margin-top: 4rem;
    }
  }

  @media (max-width: 768px) {
    html{
      font-size: 75%;
    }

    .linha2{
      margin-top: 1rem;
    }

    aside{
      margin-top: -30px;
    }
    .final{
      margin-top: 1rem;
    }
  }

  @media (max-width: 700px) {
    .titulo-text, .final{
      text-align: center;
      margin: 0;
      width: 100%;
    }

    .nocc{
      justify-content: center;
      gap: 1rem;
    }

    .imagem{
      margin-top: 2.4rem;
    }

    .text{
      margin-top: 3rem;
    }
    img{
      height: 10vh;
    }

  }

  @media (max-width: 592px) {
    html{
      font-size: 70%;
    }

    aside{
      width: 90%;
    }
    
  }

  @media (max-width: 414px) {
    .final{
      margin-top: -230px;
    }
  }



  @media (max-width: 476px) {
    html{
      font-size: 65%;
    }

    .titulo-text{
      margin-top: -20px;
    }

    aside{
      margin-top: -50px;
    }
    
  }

  @media (max-width: 408px) {

    html{
      font-size: 65%;
    }

    .company-logo{
      display: none;
    }

    header{
      justify-content: center;
      margin: 0;
    }
    .final{
      margin-top: 1.5rem;
    }
  }

  @media (max-width: 384px) {
    html{
      font-size: 60%;
    }

    .final{
      margin-top: 5rem;
    }

    .text{
      font-size: 2rem;
    }
    img{
      height: 6vh;
    }

    table{
      width: 30%;
    }

    td{
      padding: 10px;
    }
  }

  @media (max-width: 350px) {
    html{
      font-size: 55%;
    }
  }

  @media (max-width: 320px) {
    html{
      font-size: 50%;
    }

    table{
      width: 50%;
    }
  }




  

