@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400");

*,*::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ================= VARIÁVEIS ================ */
:root {
  --primary-color: hsl(9, 94%, 61%);
  --primary-color-alt: hsl(28, 72%, 83%);
  --second-color: #3e537c;
  --second-color-alt: hsla(220, 33%, 36%, 65%);
  --third-color: hsl(220, 36%, 28%);
  --white-color: #fbfbfb;
  --white-color-alt: hsl(12, 14%, 93%);
  --dark-color: hsl(300, 100%, 0%);
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  background-color: black;
}

header { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-color);
  padding: 1rem 2rem;
  width: 100%;
}

.company-logo {
  font-size: 2.5rem;
  background: -webkit-linear-gradient( 120deg, var(--primary-color-alt), var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 1.5rem;

}

.nav-items {
    display: flex;
    
}
.nav-item {
  margin: 0 2rem;
}
.nav-link {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: -webkit-linear-gradient(var(--primary-color-alt),var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-link::before {
  content: "";
  background: linear-gradient(var(--primary-color), var(--primary-color-alt));
  width: 100%;
  height: 0.05rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 150ms;
}
.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

  main{
    width: 100%;
    
    color: white;
  }

  main h1{
    font-size: 2.8rem;
    width: 100%;
    text-align: center;
    background: -webkit-linear-gradient( 120deg, var(--primary-color-alt), var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .dados{
    display: flex;
    justify-content: space-around; 
  }

  .paragrafo p{
    font-size: 1.2rem;
    padding: .6rem;
    text-align: justify;
    width: 280px;
  }

  .p2{
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .paragrafo h3{
    font-size: 1.9em;
    padding: 10px;
  }

  img{
    height: 8vh;
    margin: .6rem;
  }

  .formu{
    width: 50%;
  }

  form{
    width: 100%;
    text-align: center;
  }

  input{
    width: 92%;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    color: rgb(196, 196, 196);
  }

  #text1{
   padding-bottom: 140px;
   padding-top: 15px;
   color: rgb(196, 196, 196);
  }

  button{
    background: -webkit-linear-gradient( 120deg, var(--primary-color-alt), var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: .5rem;
    width: 46%;
    margin-top: .5rem;
    border-radius: 25px;
    font-size: 1rem;
    border: 1px solid white;
  }

  button:hover{
    border: 1px solid rgb(104, 0, 0);
    cursor: pointer;
  }

  @media (max-width: 950px) {
      html{
        font-size: 80%;
      }
  }

  @media (max-width: 768px) {
    .dados{
      justify-content: center;
      align-items: center; 
      flex-direction: column;
    }

    .mensagem{
      width: 90%;
    }

    .paragrafo{
      width: 100%;
      text-align: center;
     
    }

    .paragrafo h3{
      font-size: 3rem;
    }

    .paragrafo p{
      width: 100%;
      text-align: center;
      font-size: 1.5rem;
    }

    .formu{
      width: 90%;
    }

  }

  @media (max-width: 550px) {
    main h1{
      font-size: 2rem;
    }

    .paragrafo h3{
      margin-top: -30px;
      font-size: 2rem;
    }
    .paragrafo p{
      font-size: 1.3rem;
    }
  }

  @media (max-width: 472px) {
    html{
      font-size: 60%;
    }
  }

  @media (max-width: 356px) {
    .company-logo{
      display: none;
    }
    header{
      justify-content: center;
    }
    li{
      font-size: 1rem;
    }
  }

  @media (max-width: 300px) {

    html{
      font-size: 55%;
    }

    main h1{
      font-size: 2rem;
    }
  }

  @media (max-width: 268px) {
    html{
      font-size: 50%;
    }

    img{
      width: 15%;
      height: 7vh;
    }
  }



